In [ ]:
# as recommended here: https://meteoswiss.atlassian.net/wiki/x/4CFpE
# meld /store_new/mch/msopr/bash-templates/bashrc ~/.bashrc
# meld /store_new/mch/msopr/bash-templates/alias ~/.alias
# meld /store_new/mch/msopr/bash-templates/profile ~/.profile

# module use $USER_ENV_ROOT/modules
# module load eccodes

# setting up virtual environment
# python3 -m venv ~/envs/ralmo2bufr

# activate virtual environment
# source ~/envs/ralmo2bufr/bin/activate

# install packages
# python -m pip install eccodes
# python -m pip install pandas

# python -m eccodes selfcheck

In [9]:
# import modules

import pandas

In [30]:
# read csv file
csvfile = 'ralmo20240709000000.txt'
# read data
data = pandas.read_csv(csvfile,skiprows=3,sep='|',na_values=[10000000],names=["id","termin","track_type","prof_type","type","level","hum","hum_U","vert_res","temp","temp_U","dum4909","dum 4910","dum4911","dum4912","dum4913","dum4914","dum4915"])

In [31]:
data

,id,termin,track_type,prof_type,type,level,hum,hum_U,vert_res,temp,temp_U,dum4909,dum 4910,dum4911,dum4912,dum4913,dum4914,dum4915
0,7755,20240709000000,10000000,1104,0,551.0,NaN,NaN,NaN,291.5,1.1,NaN,NaN,NaN,NaN,1.05,0.0,NaN
1,7755,20240709000000,10000000,1104,0,581.0,10.26,0.3,40.0,291.9,1.1,NaN,NaN,NaN,NaN,1.06,0.0,NaN
2,7755,20240709000000,10000000,1104,0,611.0,10.18,0.3,40.0,292.4,1.1,NaN,NaN,NaN,NaN,1.07,0.0,NaN
3,7755,20240709000000,10000000,1104,0,641.0,9.99,0.3,40.0,292.9,1.1,NaN,NaN,NaN,NaN,1.07,0.0,NaN
4,7755,20240709000000,10000000,1104,0,671.0,9.69,0.4,40.0,293.3,1.1,NaN,28.35,NaN,NaN,1.06,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,7755,20240709000000,10000000,1104,0,24851.0,NaN,NaN,NaN,215.3,1.5,NaN,0.53,NaN,NaN,NaN,NaN,NaN
811,7755,20240709000000,10000000,1104,0,24881.0,NaN,NaN,NaN,215.3,1.5,NaN,0.61,NaN,NaN,NaN,NaN,NaN
812,7755,20240709000000,10000000,1104,0,24911.0,NaN,NaN,NaN,215.6,1.5,NaN,0.69,NaN,NaN,NaN,NaN,NaN
813,7755,20240709000000,10000000,1104,0,24941.0,NaN,NaN,NaN,216.0,1.5,NaN,0.78,NaN,NaN,NaN,NaN,NaN
814,7755,20240709000000,10000000,1104,0,24971.0,NaN,NaN,NaN,216.4,1.5,NaN,0.72,NaN,NaN,NaN,NaN,NaN

In [40]:
data.hum[1]

10.26

In [43]:
for i in range(0,3):
    print("#%d %f" % (i,data.hum[i]))

#0 nan
#1 10.260000
#2 10.180000